# this file is managed by Ansible!
# this was a direct copy from mysql:/etc/my.cnf, Jun 12, 2014 - Neil

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
ft_min_word_len=3
max_connections=1000
open_files_limit=3072
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
log-bin=mysql-bin
server-id=1

expire_logs_days=10
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

